<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="otp-card position-relative text-center">
      <h2 class="otp-title">Enter OTP</h2>
      <p class="text-muted">Enter the OTP sent to your registered email</p>
  
      <form [formGroup]="otpform" (submit)="verifyOtp()">
        <div class="d-flex justify-content-center">
          <input
            *ngFor="let control of otpControls; let i = index"
            type="text"
            class="otp-input"
            maxlength="1"
            [formControl]="control"
            (input)="onInput(i, $event)"
            (keydown)="onKeydown(i, $event)"
            #otpInput
            required
          />
        </div>
  
        <div class="d-grid mt-2">
          <button type="submit" class="btn btn-primary btn-lg" [disabled]="!isOtpComplete()">Verify OTP</button>
        </div>
  
        <p id="timer" class="text-dark small fw-bold mt-2" *ngIf="timeLeft > 0">
          Time left: {{ timeLeft }}s
        </p>
  
        <p id="resend-otp" class="text-primary fw-bold mt-2" *ngIf="timeLeft === 0" (click)="resendOtp()">
          Resend OTP
        </p>
      </form>
    </div>
  </div>
  